.body {
    font-weight: 400 !important;
    background-color: #fff !important;
    font-family: "Lato" !important;

}
.page-head {
    background-color: #fff;
    color: #a33344 !important;
    background-image: url("../images/wave.svg") !important;
    background-position: bottom !important;
    background-size: 200% !important;
    background-repeat: no-repeat !important;
    margin-bottom: -0.2px !important;
}
.page-head .head-title {
    font-size: 5.5em !important;
    font-weight: 600 !important;
    letter-spacing: 4px !important;
    margin-bottom: 12px !important;
}
.page-head .head-subtitle {
    font-size: 1.5em !important;
    font-weight: 300 !important;
    color: rgba(0, 0, 0, 0.6) !important;
    margin-bottom: 1.7em !important;
}
.btn {
    border-radius: 18px !important;
    font-size: 1.7em !important;
    font-weight: 600 !important;
    text-transform: uppercase !important;
}

.primary {
    padding-left: 30px !important;
    padding-right: 30px !important;
    background-color: #a33344 !important;
    color: #fff !important;
    border: 2px solid #a33344 !important;
}
.primary:hover {
    background-color: #fff !important;
    color: #a33344 !important;
}

/*CSS for the cards section*/
.cards {
    text-align: center !important;
    background: rgba(0, 0, 0, 0.5); !important;
    padding: 60px 50px !important;
    background-image: url("../images/gwave.svg") !important;
    background-position: bottom !important;
    background-size: 200% !important;
    background-repeat: no-repeat !important;
}
.card {
    border-radius: 18px !important;
    height: 35rem !important; 
}
.card:hover{
    transform: scale(1.05) !important;
}
.card-title {
    color: #a33344 !important;
    font-family: "Lato" !important;
    font-weight: 475 !important;
}
.telegram {
    padding-top: 1.5rem;
    background-color: rgba(0, 0, 0, 0.75) !important;
}
.telegram-card {
    
}
/*Create a map*/
.map {
    height: 400px;  /* The height is 400 pixels */
    width: 100%;  /* The width is the width of the web page */
}
/*footer CSS*/
.footer {
    text-align: center !important;
    padding: 5px 6px !important;
    color: #BBBBBB !important;
    background-color: rgba(0, 0, 0, 0.75) !important;
    padding: 30px 30px !important
}

.footer .design {
    font-family: 'Montserrat' !important;
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 16px !important;
    line-height: 5px !important;
    letter-spacing: 0.15em !important;
    font-variant: small-caps !important;
}

.link {
    color: #a33344 !important;
    text-decoration: none !important;
}

.footer .copyright {
    text-align: center !important;
    color: rgba(255, 255, 255, 0.8) !important;
}
/*======================ERRORS===================*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

#notfound {
  position: relative;
  height: 100vh;
}

#error .error {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.error {
  max-width: 710px;
  width: 100%;
  padding-left: 190px;
  line-height: 1.4;
}

.error .smile {
  position: absolute;
  left: 0;
  top: 0;
  width: 150px;
  height: 150px;
}

.error .smile h1 {
  font-family: cursive;
  color: #a33344 !important;
  font-size: 150px;
  letter-spacing: 15.5px;
  margin: 0px;
  font-weight: 900;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.error h2 {
  font-family: "Lato", sans-serif;
  color: #292929;
  font-size: 28px;
    font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  margin-top: 0;
}

.error p {
  font-family: "Lato" sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 15px;
  color: #333;
}

.error a {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  background: #fff;
  display: inline-block;
  padding: 15px 30px;
  border-radius: 18px;
  color: #292929;
  font-weight: 700;
  -webkit-box-shadow: 0px 4px 15px -5px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 4px 15px -5px rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.error a:hover {
  color: #fff;
  background-color: #a33344;
}

@media only screen and (max-width: 480px) {
  .error {
    text-align: center;
  }
  .error .smile {
    position: relative;
    width: 100%;
    margin-bottom: 15px;
  }
  .error {
    padding-left: 15px;
    padding-right: 15px;
  }
}
