.body {
    font-weight: 400 !important;
    background-color: #fff !important;

}
.page-head {
    background-color: #fff;
    color: #a33344 !important;
    background-image: url("../images/wave.svg") !important;
    background-position: bottom !important;
    background-size: 200% !important;
    background-repeat: no-repeat !important;
}
.page-head .head-title {
    font-size: 7em !important;
    font-weight: 500 !important;
    letter-spacing: 4px !important;
}
.page-head .head-subtitle {
    font-size: 1.7em !important;
    font-weight: 300 !important;
    color: rgba(0, 0, 0, 0.6) !important;
}
.btn {
    border-radius: 18px !important;
    font-size: 2em !important;
    font-weight: 600 !important;
    text-transform: uppercase !important;
}

.primary {
    padding-left: 30px !important;
    padding-right: 30px !important;
    background-color: #a33344 !important;
    color: #fff !important;
    border: 2px solid #a33344 !important;
}
.primary:hover {
    background-color: #fff !important;
    color: #a33344 !important;
}

/*CSS for the cards section*/
.cards {
    background-color: rgba(0, 0, 0, 0.7); !important;
    margin-top: 25px;
}