{% extends "layout.html" %}

{% block body %}
<!--create the header of the page-->
<div class="page-head">
	<div class="container">
		<h1 class="head-title pt-3 display-2">Python Murcia</h1>
		<h5 class="head-subtitle pt-2 pb-8 display-4">Organización de programadores Python en la Region de Murcia, España.</h5>
		<a class="btn primary btn-lg" href="" role="button">Contacto</a>
	</div>
	<br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>
<!--create the "cards" section of the page-->
<div class="cards">
	<div class="container">
		<div class="card-deck">
			{% for card in cards%}
		  	<div class="card">
		    	<img src="{{ url_for('static', filename='images/color.png') }}" class="card-img-top" alt="{{ card.image_alt }}" style="border-radius: 18px !important; height: 50% !important; padding: 2px !important;">
		    	<div class="card-body">
		     		<h5 class="card-title">{{ card.title }}</h5>
		      		<p class="card-text">{{ card.text }}</p>
		    	</div>
		  	</div>
		  	{% endfor %}
		</div>
	</div>
</div>
{% endblock body %}