{% extends "layout.html" %}

{% block body %}
<!--create the header of the page-->
<div class="page-head">
	<div class="container">
		<h1 class="head-title pt-3 display-2">Python Murcia</h1>
		<h5 class="head-subtitle pt-2 display-4">Organización de programadores Python en la Region de Murcia, España.</h5>
		<a class="btn primary btn-lg" href="" role="button">Contacto</a>
	</div>
	<br><br><br><br><br><br><br>
</div>
<!--create the "cards" section of the page-->
<div class="cards">
	<div class="container">
		<div class="card-deck">
		  	<div class="card">
		    	<img src="..." class="card-img-top" alt="...">
		    	<div class="card-body">
		     		<h5 class="card-title">Card title</h5>
		      		<p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
		      		<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
		    	</div>
		  	</div>
		 	<div class="card">
		    	<img src="..." class="card-img-top" alt="...">
		    	<div class="card-body">
		      		<h5 class="card-title">Card title</h5>
		      		<p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
		      		<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
		    	</div>
		  	</div>
		  	<div class="card">
		    	<img src="..." class="card-img-top" alt="...">
		    	<div class="card-body">
		      		<h5 class="card-title">Card title</h5>
		      		<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
		      		<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
		    	</div>
		  	</div>
		</div>
	</div>
</div>
{% endblock body %}