{% extends "main.html" %}
{% block body %}
<!--create the header of the page-->
<div class="page-head">
	<div class="container">
		<h1 class="head-title pt-3 display-2">Python Murcia</h1>
		<h5 class="head-subtitle pt-2 pb-8 display-4">Organización de programadores Python en la Region de Murcia, España.</h5>
	</div>
	<br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>
<!--create the "cards" section of the page-->
<div class="cards">
	<div class="container">
		<div class="card-deck">
			{% for card in cards%}
		  	<div class="card">
		  		<span class="color p-1" style="border-radius: 18px !important; background-color: #a33344 !important; height: 65% !important"></span>
		    	<div class="card-body">
		     		<h5 class="card-title">{{ card.title }}</h5>
		      		<p class="card-text">{{ card.text }}</p>
		    	</div>
		  	</div>
		  	{% endfor %}
		</div>
	</div>
</div>
<div class="telegram">
	<div class="container">
		<div class="telegram-card" style="max-width: 540px;">
	  		<div class="row no-gutters">
	    	<div class="col-md-4">
	      		<img src="..." class="card-img" alt="...">
	    	</div>
	    		<div class="col-md-8">
	      			<div class="card-body">
	        			<h5 class="card-title">Unete a nuestro grupo de Telegram</h5>
	        			<p class="card-text">
	        				¿Quieres hablar con otros programadores en la Región De Murcia?¿O ayudar con la organización?¿O simplemente disfrutar de un grupo de programadores? No dudes en unirte a nuestro grupo de Telegram con este link.
	        			</p>
	      			</div>
	    		</div>
	  		</div>
		</div>
	</div>
</div>
{% endblock body %}